@font-face {
    font-family: 'ArkitechBold';
    src: url('../fonts/ArkitechBold.ttf') format('truetype');
}
@font-face {
    font-family: 'ArkitechLight';
    src: url('../fonts/ArkitechLight.ttf') format('truetype');
}
@font-face {
    font-family: 'ArkitechMedium';
    src: url('../fonts/ArkitechMedium.ttf') format('truetype');
}