.menu{
	width:@width;
	z-index:99;
	padding:0;
	margin:0 auto;
	background:@menu-background;
	height:@menu-height;
	position:relative;
	color:@menu-color;
	font-family:@menu-fontfamily;
	ul{
		list-style:none;
		padding:0;
		margin:0;
		>li{
			display:inline-block;
			cursor:pointer;
			position:relative;
			padding:5px;
			&:hover{
				background:darken(@menu-background,10%);
				ul{
					display:block;
				}
			}
			>span{
				padding:2px 10px;
			}
			ul{
				display:none;
				position:absolute;
				top:30px;
				left:0px;
				padding:0;
				margin:0;
				background:@menu-background;
				width:200px;
				li{
					padding:5px;
					background:transparent;
					display:block;
					&:hover{
						background:darken(@menu-background,10%);
					}
				}
			}
		}
	}
}