html,body{
	padding:0;
	margin:0;
	width:100%;
	box-sizing:border-box;
	height:100%;
	position:relative;
	overflow:hidden;
	background:@body-background;
}
#container{
	padding:0;
	z-index:1;
	margin:0 auto;
	width:@width;
	box-sizing:border-box;
	height:@height;
	position:relative;
	border-left:1px solid @color1;
	border-right:1px solid @color1;
	border-bottom:1px solid @color1;
}