//color wheel
@color1:#7F782B;
@color2:#FFF7A2;
@color3:#FFF056;
@color4:#7F7613;
@color5:#CCC045;

//main
@body-background:#000;
@width:1280px;
@height:720px;

//forms
@input-fontfamily:"Lucida Sans Unicode", "Lucida Grande", sans-serif;

//menu
@menu-fontfamily:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
@menu-background:#7F782B;
@menu-color: #FFF7A2;
@menu-height:30px;