doctype html
html
	head
		title= title
		link(rel='stylesheet',type='text/css',href='css/style.css').
		script(src='lib/config.js').
		script(src='lib/inc/jquery-2.0.3.min.js'),
		script(src='lib/inc/kinectjs.min.js').
		script(src='lib/inc/TimelineMax.min.js').
		script(src='lib/inc/TweenMax.min.js').
		script(src="lib/inc/socket.io.min.js"),
		script(src='lib/inc/filer.min.js').
		script(src='lib/core/system.js').
		script(src='lib/core/menu.js').
		script(src='lib/core/db.js').
		script(src='lib/core/events.js').
		script(src='lib/classes/trimage.js').
		script(src='lib/helpers/dialog.js').
		script(src='lib/helpers/message.js').
		script(src='lib/helpers/button.js').
		script(src='lib/helpers/forms.js').
		script(src='lib/helpers/loader.js').
		script(src='lib/helpers/background.js').
		script(src='lib/helpers/npc.js').
		script(src='lib/helpers/text.js').
		script(src='lib/helpers/map.js').
		script(src='lib/views/title.js').
		script(src='lib/views/character.js').
		script(src='lib/views/main.js').
		script.
			var system = new SystemClass();
			jQuery(document).ready(system.init);
	body
		.font(style='font-family:ArkitechBold;visibility:hidden;position:absolute;')
			Font
		.font(style='font-family:ArkitechLight;visibility:hidden;position:absolute;')
			Font
		.font(style='font-family:ArkitechMedium;visibility:hidden;position:absolute;')
			Font
		.menu
			ul
		#container