@font-face {
  font-family: 'ArkitechBold';
  src: url('../fonts/ArkitechBold.ttf') format('truetype');
}
@font-face {
  font-family: 'ArkitechLight';
  src: url('../fonts/ArkitechLight.ttf') format('truetype');
}
@font-face {
  font-family: 'ArkitechMedium';
  src: url('../fonts/ArkitechMedium.ttf') format('truetype');
}
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: #000000;
}
#container {
  padding: 0;
  z-index: 1;
  margin: 0 auto;
  width: 1280px;
  box-sizing: border-box;
  height: 720px;
  position: relative;
  border-left: 1px solid #7f782b;
  border-right: 1px solid #7f782b;
  border-bottom: 1px solid #7f782b;
}
.menu {
  width: 1280px;
  z-index: 99;
  padding: 0;
  margin: 0 auto;
  background: #7f782b;
  height: 30px;
  position: relative;
  color: #fff7a2;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu ul > li {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding: 5px;
}
.menu ul > li:hover {
  background: #59541e;
}
.menu ul > li:hover ul {
  display: block;
}
.menu ul > li > span {
  padding: 2px 10px;
}
.menu ul > li ul {
  display: none;
  position: absolute;
  top: 30px;
  left: 0px;
  padding: 0;
  margin: 0;
  background: #7f782b;
  width: 200px;
}
.menu ul > li ul li {
  padding: 5px;
  background: transparent;
  display: block;
}
.menu ul > li ul li:hover {
  background: #59541e;
}
#name-select {
  position: absolute;
  background: transparent;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  border: none;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  z-index: 45;
  font-size: 16px;
}
